@page "/"
@using AngoLeague.Shared.Services
@inject IFormFactor FormFactor
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<div class="container mt-5 text-center">
    <h1 class="display-4 mb-4">Bem-vindo ao <span class="text-primary">AngoLeague</span></h1>
    <p class="lead mb-4">Conecte-se ao futebol de rua, descubra jogos emocionantes e veja seu talento brilhar!</p>


    <div class="mt-4 mb-5">
        <button class="btn btn-primary btn-lg mx-2" @onclick="ExplorarJogos">Explorar Jogos</button>
        <button class="btn btn-outline-secondary btn-lg mx-2" @onclick="ConectarEquipe">Conectar Minha Equipe</button>
    </div>

    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Caracas_2010_Series.jpg/1200px-Caracas_2010_Series.jpg" class="img-fluid img-responsive card-img" alt="Jogadores de Rua">
</div>

@code {
    private string factor => FormFactor.GetFormFactor();
    private string platform => FormFactor.GetPlatform();

    private void ExplorarJogos()
    {
        Navigation.NavigateTo("/game");
    }

    private void ConectarEquipe()
    {
        Navigation.NavigateTo("/team");
    }
}